<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="1.6.4" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Mono.Addins" version="1.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy.Authentication.Forms" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy.Hosting.Self" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy.Owin" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Nancy.Viewengines.Razor" version="1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Owin" version="1.0.0" targetFramework="net45" userInstalled="true" />
</packages>